@import '../vendors/tachyons@4.10.0/tachyons.min.css';
@import '../vendors/highlight.js@9.12.0/dracula.min.css';

body {
    -webkit-font-smoothing: antialiased;
}
code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}
