body {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
html, body, div, article, aside, section, main, nav, footer, header, form, fieldset, legend, pre, code, a,
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, figcaption, figure, textarea,
table, td, th, tr,
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    box-sizing: border-box;
}
.hljs, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}
.drop-cap:first-letter {
    border: 2px solid;
    float: left;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    margin: 0 8px 0 0;
    padding: 0 8px;    
}
