<div class="arrow-buttons">
    <div class="arrow-buttons__corner arrow-buttons__corner--t">
        <div class="arrow-button arrow-button--t"></div>
    </div>
    <div class="arrow-buttons__corner arrow-buttons__corner--r">
        <div class="arrow-button arrow-button--r"></div>
    </div>
    <div class="arrow-buttons__corner arrow-buttons__corner--b">
        <div class="arrow-button arrow-button--b"></div>
    </div>
    <div class="arrow-buttons__corner arrow-buttons__corner--l">
        <div class="arrow-button arrow-button--l"></div>
    </div>
</div>