<div class="box-selector-container">
    <div class="box-selector box-selector--selected">{% lines "hor", 5 %}</div>
    {% for i in range(0, 3) -%}
    <div class="box-selector">{% lines "hor", 5 %}</div>
    {%- endfor %}
</div>