<div class="calendar">
    <div class="calendar__weekday">Mon</div>
    <div class="calendar__weekday">Tue</div>
    <div class="calendar__weekday">Wed</div>
    <div class="calendar__weekday">Thu</div>
    <div class="calendar__weekday">Fri</div>
    <div class="calendar__weekday">Sat</div>
    <div class="calendar__weekday">Sun</div>
    {% for i in range(0, 3) -%}
    <div class="calendar__day calendar__day--disabled">{{ i + 29 }}</div>
    {%- endfor %}
    {% for i in range(0, 30) -%}
    <div class="calendar__day{%if i == 23 %} calendar__day--current{% endif %}">{{ i + 1 }}</div>
    {%- endfor %}
    {% for i in range(0, 2) -%}
    <div class="calendar__day calendar__day--disabled">{{ i + 1}}</div>
    {%- endfor %}
</div>