<div class="swatch">
    <div class="swatch__item swatch__item--1st"></div>
    <div class="swatch__item swatch__item--2nd"></div>
    <div class="swatch__item swatch__item--3rd"></div>
    <div class="swatch__item swatch__item--4th"></div>
    <div class="swatch__item swatch__item--5th"></div>
    <div class="swatch__item swatch__item--6th"></div>
</div>