<div class="concave-corners">
    <div class="concave-corners__corner concave-corners__corner--tl"></div>
    <div class="concave-corners__corner concave-corners__corner--tr"></div>
    <div class="concave-corners__corner concave-corners__corner--bl"></div>
    <div class="concave-corners__corner concave-corners__corner--br"></div>
</div>