{% for i in range(0, 3) %}
<label class="custom-radio-button">
    <input type="radio" class="custom-radio-button__input" />
    <div class="custom-radio-button__circle">
        <div class="custom-radio-button__radio custom-radio-button__radio--selected"></div>
    </div>
    {% rectangle %}
</label>
{% endfor %}