{% for i in range(0, 3) %}
<label class="custom-checkbox-button">
    <input type="checkbox" class="custom-checkbox-button__input" />
    <div class="custom-checkbox-button__square">
        <div class="custom-checkbox-button__checkbox custom-checkbox-button__checkbox--selected"></div>
    </div>
    {% rectangle %}
</label>
{% endfor %}