<div class="dot-navigation">
    <div class="dot-navigation__item"></div>
    <div class="dot-navigation__item dot-navigation__item--active"></div>
    <div class="dot-navigation__item"></div>
    <div class="dot-navigation__item"></div>
    <div class="dot-navigation__item"></div>
</div>
