<div class="dropdown">
    <div class="dropdown__trigger">
        {% rectangle %}
        {% triangle "b" %}
    </div>
    <div class="dropdown__content">
        <div class="dropdown__body">{% lines "hor", 5 %}</div>
    </div>
</div>