<div class="feature-list">
    <div class="feature-list__image">
        {% circle "md" %}
    </div>
    <div class="feature-list__desc">
        {% lines "hor", 5 %}
    </div>
</div>
<div class="feature-list feature-list--reverse">
    <div class="feature-list__image">
        {% circle "md" %}
    </div>
    <div class="feature-list__desc">
        {% lines "hor", 5 %}
    </div>
</div>