<div class="fixed-at-side">
    <div class="fixed-at-side__side fixed-at-side__side--r">{% rectangle "ver", "md", 100 %}</div>
    <div class="fixed-at-side__side fixed-at-side__side--l">{% rectangle "ver", "md", 100 %}</div>
</div>