<div class="folder-structure">
    <ul>
        <li>
            {% square %}
            <ul>
                <li>
                    {% square %}
                </li>
            </ul>
        </li>
        <li>
            {% square %}
            <ul>
                <li>
                    {% square %}
                    <ul>
                        <li>
                            {% square %}
                        </li>
                    </ul>
                </li>
                <li>
                    {% square %}
                </li>                
            </ul>
        </li>
    </ul>
</div>