<div class="mega-menu">
    <div class="mega-menu__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="mega-menu__item mega-menu__trigger">
        {% rectangle %}
        {% triangle "b" %}
        <div class="mega-menu__content">
            <div class="mega-menu__body">{% lines "hor", 5 %}</div>
        </div>
    </div>
    <div class="mega-menu__item">{% rectangle "hor", "sm", 100 %}</div>
</div>