<div class="menu">
    <div class="menu__item">
        {% rectangle "hor", "sm", 80 %}
    </div>
    <div class="menu__item">
        {% rectangle "hor", "sm", 60 %}
        <div class="menu__hotkey">⌘ C</div>
    </div>
    <div class="menu__divider"></div>
    <div class="menu__item">
        {% rectangle "hor", "sm", 40 %}
        <div class="menu__hotkey">⌘ V</div>
    </div>
</div>