<div class="modal">
    <div class="modal__header">{% rectangle %}</div>
    <div class="modal__body">{% lines "hor", 8 %}</div>
    <div class="modal__footer">{% rectangle "hor", "md" %}</div>
</div>