<div class="notification">
    <div class="notification__body">{% lines "hor", 5 %}</div>
    <button class="notification__close">
        <div class="notification__close-line notification__close-line--first"></div>
        <div class="notification__close-line notification__close-line--second"></div>
    </button>
</div>