<div class="pagination">
    <div class="pagination__item">1</div>
    <div class="pagination__item pagination__item--active">2</div>
    <div class="pagination__item">3</div>
    <div class="pagination__item">4</div>
</div>