<div class="popover-arrow">
    <div class="popover-arrow__arrow popover-arrow__arrow--tl"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--tc"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--tr"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--rt"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--rc"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--rb"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--bl"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--bc"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--br"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--lt"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--lc"></div>
    <div class="popover-arrow__arrow popover-arrow__arrow--lb"></div>
</div>