<div class="previous-next-buttons">
    <div class="previous-next-buttons__nav">
        <div class="previous-next-buttons__button previous-next-buttons__button--l"></div>
    </div>
    <div class="previous-next-buttons__nav">
        <div class="previous-next-buttons__button previous-next-buttons__button--r"></div>
    </div>
</div>