<div class="pricing-table">
    <div class="pricing-table__column">
        {% circle "md" %}
        {% lines "hor", 3 %}
        {% rectangle "hor", "sm", 100 %}
    </div>
    <div class="pricing-table__column">
        {% circle "md" %}
        {% lines "hor", 6 %}
        {% rectangle "hor", "sm", 100 %}
    </div>
</div>