<div class="radio-switch">
    <label class="radio-switch__label">
        <input type="radio" class="radio-switch__input" /> Monthly
    </label>
    <label class="radio-switch__label radio-switch__label--selected">
        <input type="radio" class="radio-switch__input" /> Yearly
    </label>
</div>