<div class="radial-progress-bar">
    <div class="radial-progress-bar__percentages">
        75%
    </div>
    <div class="radial-progress-bar__curve">
        <div class="radial-progress-bar__half radial-progress-bar__half--first"></div>
        <div class="radial-progress-bar__half radial-progress-bar__half--second"></div>
    </div>
</div>