<div class="resizable-element">
    <div class="resizable-element__resizer resizable-element__resizer--tl"></div>
    <div class="resizable-element__resizer resizable-element__resizer--tc"></div>
    <div class="resizable-element__resizer resizable-element__resizer--tr"></div>
    <div class="resizable-element__resizer resizable-element__resizer--rc"></div>
    <div class="resizable-element__resizer resizable-element__resizer--rb"></div>
    <div class="resizable-element__resizer resizable-element__resizer--bc"></div>
    <div class="resizable-element__resizer resizable-element__resizer--bl"></div>
    <div class="resizable-element__resizer resizable-element__resizer--lc"></div>
</div>