<div class="ribbon">
    <div class="ribbon__side ribbon__side--l"></div>
    <div class="ribbon__triangle ribbon__triangle--l"></div>
    <div class="ribbon__triangle ribbon__triangle--r"></div>
    <div class="ribbon__side ribbon__side--r"></div>
    <div class="ribbon__content"></div>
</div>