<ul class="split-navigation">
    <li class="split-navigation__item">{% rectangle "hor", "sm", 100 %}</li>
    <li class="split-navigation__item">{% rectangle "hor", "sm", 100 %}</li>
    <li class="split-navigation__item">{% rectangle "hor", "sm", 100 %}</li>
    <li class="split-navigation__item split-navigation__item--right">{% rectangle "hor", "sm", 100 %}</li>
</ul>