<div class="stacked-cards">
    <div class="stacked-cards__card stacked-cards__card--1st"></div>
    <div class="stacked-cards__card stacked-cards__card--2nd"></div>
    <div class="stacked-cards__card stacked-cards__card--3rd"></div>
</div>