<div class="stepper-input">
    <button class="stepper-input__button">-</button>
    <div class="stepper-input__content">
        <input type="text" class="stepper-input__input" />
    </div>
    <button class="stepper-input__button">+</button>
</div>