<div class="sticky-footer">
    <div class="sticky-footer__header">{% rectangle %}</div>
    <div class="sticky-footer__main">{% lines "hor", 5 %}</div>
    <div class="sticky-footer__footer">{% rectangle %}</div>
</div>