<label class="switch switch--off">
    <input type="checkbox" class="switch__input" />
    <div class="switch__circle"></div>
</label>
<label class="switch switch--on">
    <input type="checkbox" class="switch__input" />
    <div class="switch__circle"></div>
</label>