<div class="tab">
    <div class="tab__item tab__item--active">
        {% circle %}
    </div>
    <div class="tab__item tab__item--inactive">
        {% circle %}
    </div>
    <div class="tab__item tab__item--inactive">
        {% circle %}
    </div>
</div>