<div class="triangle-buttons">
    <div class="triangle-buttons__corner triangle-buttons__corner--t">
        <div class="triangle-buttons__triangle triangle-buttons__triangle--t"></div>
    </div>
    <div class="triangle-buttons__corner triangle-buttons__corner--r">
        <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
    </div>
    <div class="triangle-buttons__corner triangle-buttons__corner--b">
        <div class="triangle-buttons__triangle triangle-buttons__triangle--b"></div>
    </div>
    <div class="triangle-buttons__corner triangle-buttons__corner--l">
        <div class="triangle-buttons__triangle triangle-buttons__triangle--l"></div>
    </div>
</div>