<div class="video-background">
    <div class="video-background__inner">
        <video class="video-background__video" src="/assets/video-background-demo.mp4" autoplay loop muted></video>
    </div>
    <div class="video-background__content">
        {% lines "hor", 5 %}
    </div>
</div>