<div class="voting">
    <button class="voting__button">
        <div class="voting__triangle voting__triangle--up"></div>
    </button>
    <div class="voting__number">999</div>
    <button class="voting__button">
        <div class="voting__triangle voting__triangle--down"></div>
    </button>
</div>