<div class="wizard">
    {% for i in range(0, 3) -%}
    <div class="wizard__step">
        <div class="wizard__dot">
            <div class="wizard__connector"></div>
            <div class="wizard__number"></div>
            <div class="wizard__connector"></div>
        </div>
        {% lines "hor", 5 %}
    </div>
    {%- endfor %}
</div>