<div class="zigzag-timeline">
    {% for i in range(0, 2) -%}
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        {% lines "hor", 5 %}
    </div>
    {%- endfor %}
</div>