{
    "plugins": [
        "@loadable/babel-plugin",
        ["prismjs", {
            "languages": ["css", "html", "javascript", "jsx", "tsx"],
            // "theme": "okaidia",
            "css": true
        }]
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}