.spinner {
    animation-duration: 750ms;
    animation-name: viewer-spinner-transform;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: transform;
}

@keyframes viewer-spinner-transform {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
