.block-ad {
    background: #e6e6e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 15rem;
}

/* Ads */
.carbon-img {
    display: block;
    text-align: center;
}
.carbon-poweredby {
    display: block;
    font-size: 0.75rem;
    text-align: right;
}
.carbon-text {
    display: block;
    font-size: 0.875rem;
}
