.block-cssscan {
    font-family: -apple-system, system-ui, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #000;
    text-decoration: none;
    display: block;
}

.block-cssscan__inner {
    max-width: 1024px;
    background: #c2fbd7;
    border-radius: 1rem;
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
    cursor: pointer;
    text-align: left;
}

.block-cssscan__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.block-cssscan__desc {
    opacity: 0.8;
    color: #333;
    margin-top: 1em;
    margin-bottom: 1em;
}

.block-cssscan__more {
    margin: 0;
    margin-top: 2em;
}

.block-cssscan__image {
    position: absolute;
    transform: rotate(-7deg);
    transition: all 0.3s;
    top: 14%;
    right: -37%;
    width: 95%;
    height: 95%;
}

.block-cssscan__inner:hover {
    .block-cssscan__more {
        text-decoration: underline;
    }

    .block-cssscan__image {
        transform: scale(1.1) rotate(-7deg);
        top: 10%;
        right: -35%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1010px) {
    .block-cssscan {
        padding: 0;
    }

    .block-cssscan__inner {
        margin-top: 2em;
        min-height: 300px;
        border-radius: 0;
    }

    .block-cssscan__image {
        top: initial;
        bottom: -14%;
        width: 45%;
        height: 45%;
        right: -5%;
    }

    .block-cssscan__inner:hover .block-cssscan__image {
        top: initial;
        bottom: -10%;
        right: -5%;
        transform: scale(1.1) rotate(-7deg);
    }
}
