.follow {
    background: #fff;
    border-radius: 0.5rem;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
    max-width: 20rem;

    &::after {
        background-image: linear-gradient(45deg, #9333ea, #ea580c);
        border-radius: inherit;
        content: '';

        /* Absolute position */
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        margin: -0.5rem;
        z-index: -1;
    }
}

.follow__link {
    color: #2563eb;
    text-decoration: none;
}
