/* Footer */
.block-footer {
    border-top: 1px solid #e1e1e1;
    padding-top: 4rem;
}
.block-footer__copyright {
    color: #afafaf;
    margin: 2rem 0 4rem 0;
    padding: 1rem 0;
    text-align: center;
}
