.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.header__breadcrumb {
    align-items: center;
    display: flex;
    justify-content: center;
}
.header__link {
    align-items: center;
    color: #222;
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
}
.header__link--primary {
    background: #6366f1;
    border-radius: 9999px;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
