:root {
    --hero-margin: 2rem;
    --hero-width: 100%;
    --hero__heading-font-size: 2rem;
}
.hero {
    margin: var(--hero-margin) auto;
    text-align: center;
    width: var(--hero-width);
}
.hero__heading {
    font-size: var(--hero__heading-font-size);
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem auto;
    text-align: center;
}
.hero__button {
    background: #6366f1;
    border-radius: 9999px;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
}
@media (min-width: 768px) {
    :root {
        --hero-margin: 3rem;
        --hero-width: 75%;
        --hero__heading-font-size: 2.5rem;
    }
}
