:root {
    --nav__item-margin-bottom: 1rem;
}
.nav__item {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    background: #6366f1;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    color: #f9fafb;
    margin-bottom: var(--nav__item-margin-bottom);
    padding: 0.25rem 1rem;

    text-decoration: none;
}
.nav__item--next {
    margin-left: auto;
}
.nav__item--prev {
    margin-right: auto;
}

@media (min-width: 640px) {
    .nav {
        display: flex;
    }
    :root {
        --nav__item-margin-bottom: 0;
    }
}
