.pattern__item {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
}
.pattern__link {
    color: #6366f1;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}
.pattern__cover {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 8rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
