.pattern__item {
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    padding: 1rem;
    text-align: center;
}
.pattern__link {
    text-align: center;
    text-decoration: none;
}
.pattern__cover {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    pointer-events: none;

    color: #000;
    height: 8rem;
    width: 100%;
    margin-bottom: 0.5rem;
}
.pattern__title {
    color: #6366f1;
    font-size: 1.25rem;
    font-weight: 500;
}