<div class="avatars">
    <div class="avatars__item">
        <div class="avatars__image">A</div>
    </div>
    <div class="avatars__item">
        <div class="avatars__image">B</div>
    </div>
    <div class="avatars__item">
        <div class="avatars__image">C</div>
    </div>
</div>