<div class="chip">
    <div class="chip__content">CSS</div>
    <button class="chip__button">
        <div class="chip__button-line chip__button-line--first"></div>
        <div class="chip__button-line chip__button-line--second"></div>
    </button>
</div>