<div class="feature-comparison">
    <div class="feature-comparison__feature">
        {% rectangle %}
    </div>
    <div class="feature-comparison__model">
        {% rectangle %}
    </div>
    <div class="feature-comparison__model">
        {% rectangle %}
    </div>
</div>
<div class="feature-comparison">
    <div class="feature-comparison__feature">
        {% line "hor" %}
    </div>
    <div class="feature-comparison__model">
        {% circle %}
    </div>
    <div class="feature-comparison__model">
        {% circle %}
    </div>
</div>
<div class="feature-comparison">
    <div class="feature-comparison__feature">
        {% line "hor" %}
    </div>
    <div class="feature-comparison__model"></div>
    <div class="feature-comparison__model">
        {% circle %}
    </div>
</div>
<div class="feature-comparison">
    <div class="feature-comparison__feature">
        {% line "hor" %}
    </div>
    <div class="feature-comparison__model">
        {% circle %}
    </div>
    <div class="feature-comparison__model"></div>
</div>