<div class="fixed-at-corner">
    <div class="fixed-at-corner__corner fixed-at-corner__corner--tl">
        {% triangle "tl", "md" %}
    </div>
    <div class="fixed-at-corner__corner fixed-at-corner__corner--tr">
        {% triangle "tr", "md" %}
    </div>
    <div class="fixed-at-corner__corner fixed-at-corner__corner--br">
        {% triangle "br", "md" %}
    </div>
    <div class="fixed-at-corner__corner fixed-at-corner__corner--bl">
        {% triangle "bl", "md" %}
    </div>
</div>