<div class="holy-grail">
    <div class="holy-grail__header">{% rectangle %}</div>
    <div class="holy-grail__main">
        <div class="holy-grail__left">{% lines "hor", 4 %}</div>
        <div class="holy-grail__middle">{% lines "hor", 10 %}</div>
        <div class="holy-grail__right">{% lines "hor", 8 %}</div>
    </div>
    <div class="holy-grail__footer">{% rectangle %}</div>
</div>