<div class="input-addon">
    <div class="input-addon__addon input-addon__addon--prepended">{% circle "md" %}</div>
    <input type="text" class="input-addon__input" />
</div>

<div class="input-addon">
    <input type="text" class="input-addon__input" />
    <div class="input-addon__addon input-addon__addon--appended">{% circle "md" %}</div>
</div>
