<div class="masonry-grid">
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "md", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "md", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "md", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "md", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
    <div class="masonry-grid__item">{% rectangle "hor", "sm", 100 %}</div>
</div>