<div class="questions-and-answers">
    <div class="questions-and-answers__item questions-and-answers__item--collapsed">
        <div class="questions-and-answers__header">            
            <div class="questions-and-answers__title">
                {% rectangle %}
            </div>
            <div class="questions-and-answers__toggle">
                {% triangle "r" %}
            </div>
        </div>
    </div>
    <div class="questions-and-answers__item questions-and-answers__item--expanded">
        <div class="questions-and-answers__header">
            <div class="questions-and-answers__title">
                {% rectangle %}
            </div>
            <div class="questions-and-answers__toggle">
                {% triangle "b" %}
            </div>
        </div>
        <div class="questions-and-answers__content">
            {% lines "hor", 3 %}
        </div>
    </div>
    <div class="questions-and-answers__item questions-and-answers__item--collapsed">
        <div class="questions-and-answers__header">            
            <div class="questions-and-answers__title">
                {% rectangle %}
            </div>
            <div class="questions-and-answers__toggle">
                {% triangle "r" %}
            </div>
        </div>
    </div>
</div>