<div class="radio-button-group">
    <label class="radio-button-group__label">
        <input type="radio" class="radio-button-group__input" /> S
    </label>
    <label class="radio-button-group__label radio-button-group__label--selected">
        <input type="radio" class="radio-button-group__input" /> M
    </label>
    <label class="radio-button-group__label">
        <input type="radio" class="radio-button-group__input" /> L
    </label>
    <label class="radio-button-group__label">
        <input type="radio" class="radio-button-group__input" /> XL
    </label>
</div>