<div class="spin-button">
    <input type="text" class="spin-button__input" />
    <div class="spin-button__buttons">
        <button class="spin-button__button">
            {% triangle "t" %}
        </button>
        <button class="spin-button__button">
            {% triangle "b" %}
        </button>
    </div>
</div>