<table class="sticky-table-headers">
    <thead>
        <tr class="sticky-table-headers__sticky">
            <td>{% rectangle %}</td>
            <td>{% rectangle %}</td>
            <td>{% rectangle %}</td>
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, 3) -%}
        <tr>
            <td>{% rectangle %}</td>
            <td>{% lines "hor", 3 %}</td>
            <td>{% lines "hor", 2 %}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>