<div class="tree-diagram">
    <ul>
        <li class="tree-diagram__root">
            {% square %}
            <ul>
                <li>
                    {% square %}
                    <ul>
                        <li>
                            {% square %}
                        </li>
                    </ul>
                </li>
                <li>
                    {% square %}
                    <ul>
                        <li>
                            {% square %}
                        </li>
                        <li>
                            {% square %}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>