<a class="cssscan" href="https://gumroad.com/a/719368019" target="_blank">
    <div class="cssscan__inner">
        <p class="cssscan__title">Have you seen CSS Scan?</p>
        <p class="cssscan__desc">The fastest and easiest way to check, copy and edit CSS.</p>
        <p class="cssscan__more">Learn more →</p>
        <img
            class="cssscan__image"
            src="https://toastlog.com/img/logos/cssscan.svg"
            alt="CSS Scan logo"
        />
    </div>
</a>