<div class="follow">
    Follow me on <a class="follow__link" href="https://twitter.com/nghuuphuoc">Twitter</a> and <a class="follow__link" href="https://github.com/phuocng">GitHub</a> to get more useful contents.
</div>