.breadcrumb {
    /* Content is centered vertically */
    align-items: center;
    display: flex;
}

.breadcrumb__item {
    margin: 0 0.5rem;
    position: relative;
}

.breadcrumb__item:not(:last-child)::after {
    /* Absolute position */
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0.5rem, 0px);

    content: '/';
}
