.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    /* Demo */
    font-size: 0.75rem;
    width: 8rem;
}

.calendar__weekday {
    border-bottom: 1px solid #d1d5db;
    padding: 0.125rem;
}

.calendar__day {
    border-bottom: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;
    padding: 0.25rem;
    text-align: center;
}

.calendar__day--current {
    background-color: #3b82f6;
    color: #fff;
}

.calendar__day:nth-child(7n + 1) {
    border-left: 1px solid #d1d5db;
}

.calendar__day--disabled {
    color: #e5e7eb;
}
