.curved-background {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
}
.curved-background__curved {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    height: 50%;
    width: 100%;
}