.custom-radio-button {
    /* Center the content horizontally */
    align-items: center;
    display: inline-flex;

    /* Cursor */
    cursor: pointer;

    /* Demo */
    margin: 0.25rem 0;
    width: 8rem;
}

.custom-radio-button__input {
    /* Hide it */
    display: none;
}

.custom-radio-button__circle {
    /* Rounded border */
    border: 1px solid #d1d5db;
    border-radius: 9999px;

    /* Spacing */
    margin-right: 0.5rem;
    padding: 0.25rem;
}

.custom-radio-button__radio {
    /* Rounded border */
    border-radius: 9999px;
    height: 1rem;
    width: 1rem;

    /* For not selected radio */
    background-color: transparent;
}

.custom-radio-button__radio--selected {
    /* For selected radio */
    background-color: #3b82f6;
}