.drop-area {
    padding: 0.5rem;
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Border */
    border: 0.25rem dashed #d1d5db;
    border-radius: 0.25rem;
}
