.fading-long-section {
    /* Used to position the faded element */
    position: relative;

    height: 8rem;
    width: 8rem;
}

.fading-long-section__content {
    /* Height */
    height: 100%;
    overflow-y: hidden;
}

.fading-long-section__fading {
    /* Displayed at the bottom */
    bottom: 0;
    left: 0;
    position: absolute;

    /* Size */
    height: 2rem;
    width: 100%;

    /* Gradient background */
    background: linear-gradient(rgba(255, 255, 255, 0.01), #fff);
}
