.feature-comparison {
    align-items: center;
    display: flex;

    /* Bottom border */
    border-bottom: 1px solid #d1d5db;

    /* Spacing */
    padding: 0.25rem 0;

    width: 100%;
}

.feature-comparison__feature {
    /* Take available width */
    flex: 1;
}

.feature-comparison__model {
    /* Center the content */
    display: flex;
    justify-content: center;

    /* Demo */
    width: 1.5rem;
}
