.full-screen-menu {
    /* Take full size */
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    position: relative;

    background: #374151;
}

.full-screen-menu__close {
    left: 0.5rem;
    position: absolute;
    top: 0.5rem;

    /* Reset */
    background-color: transparent;
    border-color: transparent;

    /* Cursor */
    cursor: pointer;

    /* Size */
    height: 1rem;
    width: 1rem;

    &:before,
    &:after {
        content: '';
        /* Background color */
        background-color: #d1d5db;

        /* Position */
        position: absolute;

        /* Size */
        height: 1px;
        width: 100%;
    }

    &:before {
        /* Position */
        left: 0px;
        top: 50%;
        transform: translate(0%, -50%) rotate(45deg);

        /* Size */
        height: 1px;
        width: 100%;
    }

    &:after {
        /* Position */
        left: 50%;
        top: 0px;
        transform: translate(-50%, 0%) rotate(45deg);

        /* Size */
        height: 100%;
        width: 1px;
    }
}
