.full-background {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 100%;
    width: 100%;

    background: url('/assets/full-background.jpeg') center center / cover no-repeat;
}
