.holy-grail {
    display: flex;
    flex-direction: column;

    /* Demo */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
}

.holy-grail__header,
.holy-grail__footer {
    padding: 0.25rem;
}

.holy-grail__main {
    border-top: 1px solid #d1d5db;
    border-bottom: 1px solid #d1d5db;

    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.holy-grail__left {
    width: 25%;
}

.holy-grail__middle {
    border-left: 1px solid #d1d5db;
    border-right: 1px solid #d1d5db;

    /* Take the remaining width */
    flex-grow: 1;
}

.holy-grail__right {
    width: 20%;
}
