.input-addon {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    display: flex;

    /* Demo */
    margin-bottom: 0.5rem;
}

.input-addon__input {
    border: none;
    /* Take the remaining width */
    flex: 1;

    /* Demo */
    padding: 0.25rem;
    margin: 0 0.25rem;
    width: 5rem;
}

.input-addon__addon {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Demo */
    padding: 0.25rem;
}

.input-addon__addon--prepended {
    border-right: 1px solid #d1d5db;
}
.input-addon__addon--appended {
    border-left: 1px solid #d1d5db;
}
