.masonry-grid {
    column-count: 3;
    column-gap: 1rem;

    /* Misc */
    width: 100%;
}

.masonry-grid__item {
    /* Prevent a column from breaking into multiple columns */
    break-inside: avoid;

    /* Misc */
    margin-bottom: 1rem;
}
