.media-object {
    /* Align sub-items to top */
    align-items: start;
    display: flex;

    /* Demo */
    height: 100%;
    width: 100%;
}

.media-object__media {
    margin-right: 0.5rem;
}

.media-object__content {
    /* Take the remaining width */
    flex: 1;
}
