.previous-next-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;

    /* Demo */
    width: 100%;
}

.previous-next-buttons__nav {
    position: relative;

    /* Demo */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 2rem;
    width: 3rem;
}

.previous-next-buttons__button {
    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 0.5rem;
    width: 0.5rem;
}

.previous-next-buttons__button--r {
    /* Edges */
    border-right: 1px solid #d1d5db;
    border-top: 1px solid #d1d5db;
    transform: translateX(-25%) rotate(45deg);
}

.previous-next-buttons__button--l {
    /* Edges */
    border-bottom: 1px solid #d1d5db;
    border-left: 1px solid #d1d5db;
    transform: translateX(25%) rotate(45deg);
}
