.pricing-table {
    align-items: center;
    display: flex;
    justify-content: center;
}
.pricing-table__column {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin: 0 0.25rem;
    padding: 0.25rem;
}
