.property-list {
    /* Content is center horizontally */
    align-items: center;
    display: flex;

    border-bottom: 1px solid #d1d5db;

    /* Spacing */
    margin: 0;
    padding: 0.5rem 0;

    width: 100%;
}
.property-list__key {
    /* Take the remaining width */
    flex: 1;
}
.property-list__value {
    margin-left: 0.5rem;
}