.progress-bar {
    /* Colors */
    background-color: #d1d5db;

    /* Rounded border */
    border-radius: 9999px;
    padding: 0.25rem;

    /* Demo */
    width: 100%;
}

.progress-bar__progress {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: #3b82f6;
    color: #fff;

    /* Rounded border */
    border-radius: 9999px;

    width: 40%;
}