.same-height-columns {
    display: flex;

    /* Demo */
    width: 100%;
    height: 100%;
}

.same-height-columns__column {
    flex: 1;
    /* Space between columns */
    margin: 0 0.25rem;

    /* Layout each column */
    display: flex;
    flex-direction: column;

    /* Demo */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.same-height-columns__content {
    /* Take available height */
    flex: 1;
}