.statistic {
    /* Center the content */
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.statistic__value {
    /* Big font size */
    font-size: 3rem;
    font-weight: 500;
}

.statistic__label {
    /* Smaller font size */
    font-size: 1rem;
    font-weight: 700;

    /* Uppercase the label */
    text-transform: uppercase;
}
