.sticky-header {
    /* Demo */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
}

.sticky-header__header {
    /* Stick to the top */
    position: sticky;
    top: 0;

    /* Demo */
    padding: 0.25rem;
    border-bottom: 1px solid #d1d5db;
}