.sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* Demo */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    width: 100%;
}

.sticky-footer__header,
.sticky-footer__footer {
    flex-shrink: 0;

    /* Demo */
    padding: 0.25rem;
}

.sticky-footer__main {
    flex-grow: 1;

    /* Demo */
    border-top: 1px solid #d1d5db;
    border-bottom: 1px solid #d1d5db;
    padding: 0.25rem;
}