.toggle-password-visibility {
    display: flex;

    /* Border */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem;

    /* Demo */
    height: 2.5rem;
}

.toggle-password-visibility__input {
    border-color: transparent;
    /* Take available width */
    flex: 1;

    /* Demo */
    width: 6rem;
}

.toggle-password-visibility__toggle {
    /* Reset */
    background: #fff;
    border-color: transparent;

    /* Center the content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password-visibility__svg {
    fill: none;
    height: 1.5rem;
    stroke: #d1d5db;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    width: 1.5rem;
}
