.video-background {
    /* Used to position the video and content */
    position: relative;

    height: 100%;
    width: 100%;
}

.video-background__inner {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Hide the scrollbar */
    overflow: hidden;
}

.video-background__video {
    object-fit: cover;

    /* Take full width */
    height: 100%;
    max-width: 100%;
}

.video-background__content {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}