.circle {
    background: rgba(0, 0, 0, .3);
    border-radius: 9999px;
    height: var(--circle-size);
    width: var(--circle-size);
}
.circle--sm {
    --circle-size: 0.5rem;
}
.circle--md {
    --circle-size: 2rem;
}
.circle--lg {
    --circle-size: 4rem;
}