.line {
    background: rgba(0, 0, 0, 0.3);
}
.line--hor {
    height: 1px;
    width: 100%;
}
.line--ver {
    height: 100%;
    width: 1px;
}

.lines {
    margin: 0.5rem 0;
    width: 100%;
}
.lines .line {
    margin-bottom: 0.25rem;
}