.rectangle {
    background: #d1d5db;
    border-radius: 0.25rem;
}
.rectangle--hor {
    &.rectangle--20 {
        width: 20%;
    }
    &.rectangle--40 {
        width: 40%;
    }
    &.rectangle--60 {
        width: 60%;
    }
    &.rectangle--80 {
        width: 80%;
    }
    &.rectangle--100 {
        width: 100%;
    }
    &.rectangle--sm {
        height: 0.5rem;
    }
    &.rectangle--md {
        height: 2rem;
    }
    &.rectangle--lg {
        height: 4rem;
    }
}
.rectangle--ver {
    &.rectangle--20 {
        height: 20%;
    }
    &.rectangle--40 {
        height: 40%;
    }
    &.rectangle--60 {
        height: 60%;
    }
    &.rectangle--80 {
        height: 80%;
    }
    &.rectangle--100 {
        height: 100%;
    }
    &.rectangle--sm {
        width: 0.5rem;
    }
    &.rectangle--md {
        width: 2rem;
    }
    &.rectangle--lg {
        width: 4rem;
    }
}