.square {
    background: #d1d5db;
    height: var(--square-size);
    width: var(--square-size);
}
.square--sm {
    --square-size: 0.5rem;
}
.square--md {
    --square-size: 2rem;
}
.square--lg {
    --square-size: 4rem;
}