.footer {
    padding: 2rem 0;
}
.footer__about {
    border-bottom: 1px solid var(--text-color);
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.footer__author {
    flex: 1;
}
.footer__social {
    margin-left: 0.5rem;
    color: var(--text-color);
}
.footer__grid {
    margin-left: -1rem;
    margin-right: -1rem;
}
.footer__col {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer__products {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer__product {
    margin: 0.25rem 0;
}
.footer__product a {
    color: var(--text-color);
}
@media (min-width: 640px) {
    .footer__grid {
        display: flex;
    }
}