.p-rating {
    align-items: center;
    display: flex;
    font-size: 32px;
    justify-content: center;
    flex-direction: row-reverse;
}

.p-rating .p-rating-star:hover,
.p-rating .p-rating-star:hover ~ .p-rating-star {
    color: transparent;
}

.p-rating .p-rating-star:hover:before,
.p-rating .p-rating-star:hover ~ .p-rating-star:before {
    color: #00449e;
    content: '\2605';
    left: 0;
    position: absolute;
}

.p-rating-star {
    background-color: transparent;
    border: transparent;
    margin: 0 2px;
    padding: 0;
    position: relative;
}
